.time-manager {
  background: #f1f1f1;

  &-line-view {
    height: 20px;
    background: #f1f1f1;
  }

  &-tab1 {
    margin: 0 20px;
    border-radius: 5px;
    color: #333333;

    &-top {
      background: white;
      display: flex;
      align-items: center;
      padding-left: 25px;
      height: 88px;
      border: 0 solid #ebebeb;
      border-bottom-width: 2px;
      font-size: 28px;
      color: #333333;
    }

    &-set-bottom {
      background: white;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #444444;
      font-size: 28px;
    }

    &-time-length {
      background: white;
      margin-top: 20px;
    }
  }
}

.time-length-list {
  background: white;
  font-size: 18px;

  &-item {
    height: 100px;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
    border: 0 solid #ebebeb;
    border-bottom-width: 2px;
    color: #666666;

    &-cycle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 25px;
      font-size: 24px;
    }

    &-date {
      width: 630px;
    }

    &-img {
      height: 25px;
      width: 15px;
      align-self: center;
      margin-right: 25px;
    }
  }
}


