.statistics-list {
  background: white;
  &-item {
    height: 145px;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
    border: 0 solid #f0f0f0;
    border-bottom-width: 2px;
    &-cycle {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-icon {
        margin-left: 25px;
        height: 96px;
        width: 96px;
      }
      &-detail {
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-app {
          margin-left: 15px;
          font-size: 30px;
          color: #444444;
        }
        &-time {
          margin-right: 30px;
          font-size: 28px;
          color: #999999;
        }
      }

      &-manager {
        color: #02ca73;
        font-size: 24px;
        margin-right: 25px;
        width: 100px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        border: 2px solid #02ca73;
        background: white;
      }
    }
  }
}

