@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.device {
  background: #f1f1f1;

  &-info {
    margin-top: 15px;
  }

  &-token {
    margin-top: 15px;
    background: white;
  }
}

.view-avatar {
  display: flex;
  background: white;
  height: 120px;
  border: 0 solid #ebebeb;
  border-bottom-width: 2px;
  align-items: center;
  justify-content: space-between;

  &-title {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #333333;
    width: 260px;
    height: 100%;
    margin-left: 30px;
  }

  &-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.view-input {
  display: flex;
  background: white;
  height: 88px;
  border: 0 solid #ebebeb;
  border-bottom-width: 2px;

  &-title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #333333;
    width: 260px;
    height: 100%;
    margin-left: 30px;
  }

  &-content {
    flex: 2;
    color: #999999;
    font-size: 28px;
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
  }

  &-picker {
    flex: 2;
    width: 400px;
    color: #999999;
    font-size: 28px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.save-button {
  visibility: visible;
  display: flex;
  color: white;
  background: #02ca73;
  height: 90px;
  width: 690px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
}

.save-button-hidden {
  visibility: hidden;
}

.unbind-button {
  visibility: visible;
  display: flex;
  color: red;
  background: #f1f1f1;
  border: 2px solid red;
  height: 80px;
  width: 690px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 50px;
}

.unbind-button-hidden {
  visibility: hidden;
}

// 输入框 占位符 字体颜色
input::-webkit-input-placeholder {
  color: #999999;
}

.weui-picker__action {
  color: #02ca73;
  font-size: 30px;
}
