.operation-view {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
  //background: #e37b7d;
  &-item {
    width: 25%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img {
      width: 76px;
      height: 76px;
    }

    &-txt {
      padding-top: 20px;
      color: #555555;
      font-size: 30px;
      line-height: 24px;
    }
  }
}
