.cash-record {
  background: #f1f1f1;

  &-list {
    background: white;
    font-size: 26px;

    &-item {
      height: 90px;
      border: 0 solid #f0f0f0;
      border-bottom-width: 2px;
      display: flex;
      align-items: center;
      margin: 0 20px;
      justify-content: space-between;

      &-money {
        color: #fd9604;
        width: 100px;
      }

      &-status {
        width: 250px;
      }

      &-date {
        color: #999999;
      }
    }
  }
}
