.limit-list {
  &-item {
    margin-bottom: 10px;
    height: 134px;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    &-cycle {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-icon {
        margin-left: 25px;
        height: 80px;
        width: 80px;
      }
      &-detail {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        &-app {
          font-size: 30px;
          color: #444444;
        }
        &-time {
          font-size: 24px;
          color: #999999;
        }
      }

      &-free {
        color: #02ca73;
        font-size: 26px;
        margin-right: 10px;
        width: 100px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        border: 2px solid #02ca73;
      }

      &-stop {
        color: #ff3f19;
        font-size: 26px;
        margin-right: 10px;
        width: 100px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        border: 2px solid #ff3f19;
      }

      &-set {
        color: #02ca73;
        font-size: 26px;
        margin-right: 15px;
        width: 100px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        border: 2px solid #02ca73;
      }
    }
  }
}

