//@import "@styles/theme.scss";
/**
 * // NOTE  RN Swiper 的 indicator 位置与 H5、小程序不同
 * 这边通过 height + 负 margin 实现一致样式，或者自己实现 indicator 也不难
 */
.home-banner {
  margin: 0;
  height: 340px;
  background: #02ca73;
  overflow: hidden;
  position: relative;
  //@include eject(height, 300px);
  //@include eject(margin, 0);
  color: white;
}

.home-banner__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 290px;
  margin: 0;
  &-item {
    margin: 0;
    display: flex;
    flex-direction: row;
    &-swiper-bg {
      width: 690px;
      height: 290px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-detail {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &-avatar {
        width: 128px;
        height: 128px;
        display: flex;
        align-items: center;
        &-img {
          height: 128px;
          width: 128px;
          border-radius: 64px;
        }
      }
      &-info {
        width: 300px;
        height: 140px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-os {
          font-size:30px;
          height: 100%;
          display: flex;
          align-items: center;
          color: #F5F5F5;
        }
        &-online {
          font-size:20px;
          height: 100%;
          display: flex;
          align-items: center;
          color: white;
        }
        &-app {
          font-size:30px;
          height: 100%;
          display: flex;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
.children-img {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 45px;
  width: 54px;
  z-index: 99;
}



