.analysis-list {
  background: white;

  &-item {
    height: 145px;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
    border: 0 solid #f0f0f0;
    border-bottom-width: 2px;

    &-cycle {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-icon {
        margin-left: 25px;
        height: 96px;
        width: 96px;
      }

      &-detail {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;

        &-app {
          width: 400px;
          overflow: hidden;
          font-size: 30px;
          color: #444444;
        }

        &-time {
          font-size: 24px;
          color: #999999;
        }
      }

      &-manager {
        color: white;
        font-size: 30px;
        margin-right: 25px;
        width: 130px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        background: #02ca73;
      }
    }
  }
}

