@import "@styles/theme.scss";

.cate-sub-tab {
  display: flex;
  flex-direction: row;
  background: white;
  height: 100px;
  width: 100%;
  @include border(bottom, 10px, solid, rgba(0, 0, 0, 0.1));
  @include hairline(border-bottom-width);

  /**
   * // NOTE H5、微信小程序中，横向滚动的 ScrollView 必须设置 white-space: nowrap
   * 并且 ScrollView 的子元素必须为 display: inline-block
   */
  @include eject(display, block);
  @include eject(white-space, nowrap);
  @include eject(line-height, 0);
}

.cate-sub-tab__item {
  position: relative;
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include eject(display, inline-block);
  width: 50%;
  &-txt {
    height: 100px;
    color: #999999;
    font-size: 28px;
    line-height: 100px;
    @include eject(display, inline-block);
    display: flex;
    justify-content: center;
    &--active {
      color: #333333;
    }
  }

  &-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 3px;
    margin:  auto;
    background: #02ca73;
  }
}


